

body{
    background-color: rgb(239, 239, 239);
}



table{
    width: 300px;
    margin: 30px auto;
    background-color: rgb(104, 101, 105);
    border: none;
    border-radius: 10px;
    padding: 0px 20px 20px;
}

.heading{
    color: rgb(255, 255, 255);
    font-size: 130%;
    text-align: center;
}

#input , #answer{
    background-color: rgb(241, 241, 239);
    width:260px;
    height: 50px;
    font-size: 200%;
    border: none;
}

#input{
    text-align: left;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 2px 2px black;
    color: #1e1e1e;
}

#answer{
    text-align: right;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 2px black;
    
}

input[type=button]{
    font-size: 120%;
    height: 60px;
    width: 60px;
    color: white;
    background-color: black;
    margin: 1px;
    border: 8px;
    border-radius: 8px;
    border: none;
}

input[type=button]:hover{
    background: #cbcbcb;
    cursor: pointer;
    color: red;
}